@font-face {
  font-family: "HK Grotesk";
  src: url(../fonts/hkgrotesk-bold-web.woff2) format("woff2"), url("../fonts/hk-grotesk/hkgrotesk-bold-web.eot") format("embedded-opentype"), url("../fonts/hk-grotesk/hkgrotesk-bold-web.woff") format("woff"), url("../fonts/hk-grotesk/hkgrotesk-bold-web.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url(../fonts/hkgrotesk-bold-web.woff2) format("woff2"), url("../fonts/hk-grotesk/hkgrotesk-bold-web.eot") format("embedded-opentype"), url("../fonts/hk-grotesk/hkgrotesk-bold-web.woff") format("woff"), url("../fonts/hk-grotesk/hkgrotesk-bold-web.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url(../fonts/hkgrotesk-regular-web.woff2) format("woff2"), url("../fonts/hk-grotesk/hkgrotesk-regular-web.eot") format("embedded-opentype"), url("../fonts/hk-grotesk/hkgrotesk-regular-web.woff") format("woff"), url("../fonts/hk-grotesk/hkgrotesk-regular-web.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
  background: #FFFFFF;
}

.container {
  max-width: 1140px;
  margin: auto;
}

ul {
  list-style: none;
}

.button {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a:hover {
  color: #36B37E;
}

button:hover {
  -webkit-box-shadow: 0 2px 7px  #36B37E;
          box-shadow: 0 2px 7px  #36B37E;
}

#email-error {
  position: absolute;
  top: 1px;
  left: 20px;
  color: red;
  font-size: 14px;
}

.thanks__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thanks__title {
  margin-bottom: 20px;
}

.thanks__button {
  margin-top: 30px;
  padding: 11px 20px;
  background: #183B56;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.header {
  padding: 23px 0 62px 0;
}

.header__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__logo {
  width: 90px;
  height: 28px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu--mobile--visible {
  display: none;
}

.header__button {
  display: none;
}

.menu {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin: 0 20px;
}

.menu__link {
  text-decoration: none;
  color: inherit;
}

.menu__button {
  min-width: 101px;
  max-width: 245px;
  min-height: 48px;
  margin-left: 30px;
  padding: 12px;
  border: 2px solid #1565D8;
  background-color: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1));
          filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1));
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1565D8;
}

.mobile-menu__item {
  margin: 10px 0;
}

.mobile-menu__button {
  margin-left: 0;
}

.hero__wrapper {
  position: relative;
  width: 1280px;
  margin: auto;
  padding: 60px 0 50px 0;
  background: #E8EAE9 url("../img/header-bg.jpg") no-repeat center top;
  background-size: cover;
  border-radius: 8px;
  background-size: auto;
  overflow: hidden;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1066px;
  margin: auto;
  z-index: 3;
}

.hero__subtitle {
  max-width: 175px;
  padding: 6px 16px;
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #36B37E;
  background: rgba(54, 179, 126, 0.1);
  border-radius: 2000px;
  text-transform: uppercase;
}

.hero__title {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0.2px;
  margin: 0;
}

.hero__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
}

.hero__button {
  border-radius: 8px;
  padding: 15px 35px;
  margin-bottom: 48px;
  max-width: 259px;
  background-color: #183B56;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  outline: none;
  border: none;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 31px;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  border: 0.75px solid #becfe6;
  border-radius: 12px;
  width: 36px;
  height: 36px;
}

.advantages__img {
  width: 21px;
  height: 21px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 652px;
  min-height: 400px;
  margin-bottom: 53px;
}

.collection {
  padding: 118px 0;
}

.collection__container {
  max-width: 1140px;
  margin: auto;
}

.collection__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collection__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 671px;
  min-height: 490px;
  margin-right: 56px;
}

.collection__img {
  width: 320px;
  height: 230px;
  border-radius: 8px;
  overflow: hidden;
}

.collection__img--heigh {
  height: 490px;
}

.collection__two-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 490px;
}

.collection__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 408px;
      flex-basis: 408px;
}

.collection__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 40px;
}

.collection__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection__title {
  margin-bottom: 33px;
}

.collection__link {
  margin-right: 19px;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #1565D8;
}

.button__img {
  width: 13px;
  height: 16px;
  fill: #1565D8;
}

.section__title {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
}

.trending {
  padding: 25px 0;
}

.trending__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 52px;
}

.trending__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending__card {
  width: 260px;
  margin-bottom: 53px;
}

.trending__card--hide {
  display: none;
}

.trending__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trending__info:hover {
  -webkit-box-shadow: 0 2px 7px  #36B37E;
          box-shadow: 0 2px 7px  #36B37E;
}

.trending__img {
  height: 350px;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  overflow-object-fit: cover;
  background: #1565D8;
}

.trending__link {
  text-decoration: none;
}

.trending__icon {
  width: 28px;
  height: 28px;
  margin-bottom: 25px;
}

.trending__text {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.card__title {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 3px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px;
}

.price__teg {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
}

.price__icon {
  display: inline-block;
  width: 23px;
  height: 24px;
}

.filters {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.filters__item {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.filters__item:nth-of-type(2) {
  margin: 0 38px;
}

.filters__item--active {
  font-weight: bold;
  color: #183B56;
}

.reviews {
  padding: 75px 0 65px 0;
}

.reviews__slider {
  width: 800px;
  height: 395px;
  margin: 0 auto;
}

.reviews-slider__wrapper {
  margin-bottom: 5px;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__icon {
  width: 80px;
  height: 92px;
  background: url(../img/quote-left.svg) no-repeat;
  margin-bottom: 11px;
}

.reviews__text {
  display: inline-block;
  height: 168px;
  overflow: hidden;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.133333px;
  margin-bottom: 28px;
}

.reviews__title {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
}

.swiper-pagination-pagination {
  margin-top: 10px;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #B3BAC5;
  margin: 0 8px !important;
}

.swiper-pagination-bullet-active {
  background: #183B56;
}

.stories__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1150px;
  margin: 0 auto;
  padding: 130px 0 140px;
  border-top: 1px solid #E5EAF4;
}

.stories__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
}

.stories__subtitle {
  max-width: 102px;
  min-height: 32px;
  padding: 6px 16px;
  margin-top: -12px;
  margin-bottom: 25px;
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #36B37E;
  background: rgba(54, 179, 126, 0.1);
  border-radius: 2000px;
  text-transform: uppercase;
}

.stories__title {
  margin-bottom: 28px;
}

.stories__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 50px;
}

.stories__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  height: 56px;
  border: 2px solid #959EAD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2000px;
  fill: #959EAD;
}

.stories__button--pre {
  margin-right: 22px;
}

.stories__button__icon {
  width: 14px;
  height: 18px;
}

.stories__button:hover {
  border: 2px solid #183B56;
  fill: #183B56;
}

.stories-slider {
  margin: 0;
  width: 662px;
}

.stories-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stories-slider__img {
  width: 312px;
  height: 317px;
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
  position: relative;
}

.stories-slider__info {
  position: relative;
  width: 312px;
  max-height: 178px;
  background: #FAFDFF;
  padding: 20px;
  padding-right: 32px;
  margin-top: -22px;
  margin-left: 10px;
}

.stories-slider__text {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}

.stories-slider__link {
  text-decoration: none;
  color: #1565D8;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-top: 12px;
}

.subscription {
  padding: 100px 0;
  background-color: #1565D8;
  color: #FFFFFF;
}

.subscription__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription__wrapper-title {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

.subscription__title {
  margin-bottom: 14px;
}

.subscription__text {
  width: 436px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

.subscription__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5px;
  padding: 11px;
  background: #183B56;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  width: 177px;
}

.subscription__input {
  width: 447px;
  height: 56px;
  padding: 17px 187px 17px 44px;
  border: 1px solid #C3CAD9;
  border-radius: 8px;
  outline: none;
}

.form {
  position: relative;
  outline: none;
  fill: #183B56;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 28px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .hero__wrapper {
    width: 100%;
  }
  .hero__container {
    max-width: 858px;
  }
  .collection__container {
    max-width: 960px;
  }
  .collection__gallery {
    min-width: 610px;
  }
  .collection__img {
    width: 290px;
  }
  .collection__info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .trending__card {
    width: 225px;
  }
  .stories__container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 648px;
  }
  .header {
    padding: 26px 0 48px 0;
  }
  .header__menu--mobile--hidden {
    display: none;
  }
  .header__menu--mobile--visible--active {
    position: absolute;
    top: -5px;
    right: -12px;
    width: 304px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 32px 19px 23px 28px;
    background-color: #FFFFFF;
    z-index: 10;
    overflow: auto;
  }
  .header__button {
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    outline: none;
  }
  .mobile-menu__item {
    margin-bottom: 20px;
  }
  .mobile-menu__item:nth-of-type(1) {
    margin-top: 0;
  }
  .mobile-menu__button {
    min-width: 100%;
    min-height: 40px;
    padding: 7px;
  }
  .button {
    position: relative;
  }
  .button__line {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 22px;
    height: 2px;
    background: #183B56;
    border-radius: 5px;
  }
  .button__line::before, .button__line::after {
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 2px;
    border-radius: 5px;
    background-color: #183B56;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .button__line::before {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .button__line::after {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  .button__line--active {
    height: 0;
    z-index: 11;
  }
  .button__line--active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .button__line--active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .hero__wrapper {
    width: 728px;
    padding: 36px 0;
    background: #E8EAE9 url("../img/header-bg_2.jpg") no-repeat 55px center;
    background-size: cover;
  }
  .hero__container {
    max-width: 674px;
  }
  .hero__title {
    font-size: 48px;
    line-height: 60px;
  }
  .hero__text {
    font-size: 18px;
    line-height: 32px;
  }
  .hero__button {
    margin-bottom: 40px;
  }
  .title {
    max-width: 407px;
    min-height: 384px;
    margin-bottom: 36px;
  }
  .advantages__block {
    margin-right: 21px;
  }
  .collection {
    padding: 80px 0 60px 0;
    width: 100%;
  }
  .collection__container {
    max-width: 672px;
  }
  .collection__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .collection__gallery {
    margin-right: 0;
    margin-bottom: 34px;
    width: 100%;
  }
  .collection__img {
    width: 320px;
    height: 230px;
  }
  .collection__img--heigh {
    width: 322px;
    height: 490px;
  }
  .collection__text {
    margin-bottom: 22px;
  }
  a:hover {
    display: none;
  }
  button:hover {
    display: none;
  }
  .trending {
    padding: 15px 0;
  }
  .trending__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 56px;
  }
  .trending__title {
    margin-bottom: 30px;
  }
  .trending__cards {
    padding: 0 20px;
  }
  .trending__card {
    width: 280px;
    margin-bottom: 50px;
  }
  .trending__info:hover {
    display: none;
  }
  .reviews {
    padding: 21px 0  64px 0;
  }
  .reviews__slider {
    width: 630px;
    height: 420px;
  }
  .reviews__icon {
    margin-bottom: 15px;
  }
  .reviews__text {
    height: 210px;
  }
  .stories__container {
    max-width: 728px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 90px 0;
  }
  .stories__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 567px;
  }
  .stories__subtitle {
    margin-bottom: 20px;
  }
  .stories__title {
    margin-bottom: 20px;
  }
  .stories__text {
    text-align: center;
    margin-bottom: 38px;
  }
  .stories__button {
    margin-bottom: 36px;
  }
  .stories-slider {
    width: 672px;
  }
  .stories-slider__img {
    width: 322px;
    height: 317px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }
  .header {
    padding: 18px 0 43px 0;
  }
  .header__wrapper {
    max-width: 97%;
  }
  .header__logo {
    margin-left: 7px;
  }
  .hero__wrapper {
    background: #E8EAE9 url("../img/header-bg_min.jpg") no-repeat center top;
    width: 100%;
    padding-top: 380px;
    padding-bottom: 20px;
    border-radius: 0;
  }
  .hero__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 85%;
  }
  .hero__title {
    text-align: center;
  }
  .hero__text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }
  .hero__button {
    font-size: 16px;
    line-height: 22px;
    padding: 13px 49px;
    width: 95%;
    margin-bottom: 20px;
  }
  .title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    min-width: 280px;
    min-height: 324px;
    margin-bottom: 24px;
  }
  .section__title {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 20px;
  }
  .advantages {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__block {
    margin-right: 15px;
    margin-bottom: 18px;
  }
  .advantages__icon {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    border-radius: 0.5px;
    border-radius: 8px;
    width: 24px;
    height: 24px;
  }
  .advantages__img {
    width: 13px;
    height: 13px;
  }
  .collection__container {
    max-width: 90%;
  }
  .collection__gallery {
    min-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .collection__img {
    width: 48%;
    border-radius: 3.36px;
  }
  .collection__img--heigh {
    width: 100%;
    height: 420px;
  }
  .collection__two-img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    min-height: 100%;
    margin-top: 14px;
  }
  .trending__cards {
    padding: 0;
  }
  .trending__card {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .trending__img {
    height: 400px;
  }
  .filters {
    font-size: 16px;
    line-height: 22px;
  }
  .reviews {
    padding: 29px 0 48px 0;
  }
  .reviews__slider {
    width: 94%;
    height: 560px;
  }
  .reviews__icon {
    width: 70px;
    height: 81px;
    margin-bottom: 0px;
  }
  .reviews__text {
    height: 360px;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.12px;
    margin-bottom: 23px;
  }
  .stories__container {
    max-width: 85%;
    padding: 58px 0;
  }
  .stories__info {
    width: 99%;
  }
  .stories__subtitle {
    max-width: 102px;
    padding: 2px 12px;
    min-height: 24px;
  }
  .stories__title {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
  }
  .stories__title-hide {
    display: none;
  }
  .stories__text {
    font-size: 16px;
    line-height: 28px;
  }
  .stories__button {
    width: 48px;
    height: 48px;
    margin-bottom: 25px;
  }
  .stories__button--pre {
    margin-right: 18px;
  }
  .stories-slider {
    width: 100%;
  }
  .stories-slider__wrapper {
    margin-bottom: -21px;
  }
  .stories-slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 44px;
  }
  .stories-slider__img {
    width: 98%;
    height: 277px;
  }
  .stories-slider__info {
    width: 100%;
  }
  .stories-slider__text {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 567px) {
  .hero__subtitle {
    max-width: 196px;
    padding: 2px 26px;
  }
  .trending__img {
    height: 280px;
  }
}

@media (max-width: 480px) {
  .hero__wrapper {
    background-size: cover;
  }
  .hero__title {
    font-size: 32px;
    line-height: 40px;
  }
  .advantages__block {
    margin-right: 12px;
    margin-bottom: 18px;
    letter-spacing: 0.1px;
  }
  .advantages__block:nth-child(2) {
    margin-right: 0;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .collection {
    padding: 62px 0 121px 0;
  }
  .collection__gallery {
    min-height: 100%;
  }
  .collection__img {
    height: 97px;
  }
  .collection__img--heigh {
    height: 300px;
  }
  .collection__two-img {
    min-height: 97px;
  }
  .collection__text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 0;
  }
  .collection__button {
    display: none;
  }
  .trending__top {
    margin-bottom: 35px;
  }
  .trending__img {
    height: 170px;
    margin-bottom: 16px;
  }
  .trending__text {
    font-size: 17px;
    line-height: 20px;
  }
  .trending__title {
    margin-bottom: 25px;
  }
  .trending__card {
    margin-bottom: 20px;
  }
  .card__title {
    font-size: 16px;
    line-height: 20px;
  }
  .price {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
  }
  .price__teg {
    font-size: 14px;
    line-height: 24px;
    margin-right: 9px;
  }
  .price__icon {
    width: 14px;
    height: 14px;
  }
  .filters__item:nth-of-type(2) {
    margin: 0 7px;
  }
}

@media (max-width: 380px) {
  .collection__info {
    width: 280px;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */