@media ( max-width: 1200px )
  .container
    max-width: 960px
  .hero
    &__wrapper
      width: 100%
      //background-position-x: -50%
    &__container
      max-width: 858px
  .collection
    &__container
      max-width: 960px
    &__gallery
      min-width: 610px
    &__img
      width: 290px
    &__info
      flex-basis: 100%
@media ( max-width: 992px )
  .container
    max-width: 648px
  .header
    padding: 26px 0 48px 0
    &__menu
      &--mobile
        &--hidden
          display: none
        &--visible
          &--active
            position: absolute
            top: -5px
            right: -12px
            width: 304px
            display: flex
            flex-direction: column
            align-items: flex-start
            padding: 32px 19px 23px 28px
            background-color: $light
            z-index: 10
            overflow: auto

    &__button
      display: block
      width: 24px
      height: 24px
      border: none
      background-color: transparent
      outline: none
  .mobile-menu
    &__item
      margin-bottom: 20px
      &:nth-of-type(1)
        margin-top: 0

    &__button
      min-width: 100%
      min-height: 40px
      padding: 7px
  .button
    position: relative
    &__line
      display: block
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 22px
      height: 2px
      background: $primery
      border-radius: 5px
      &::before, &::after
        content: ''
        display: block
        position: absolute
        width: 22px
        height: 2px
        border-radius: 5px
        background-color: $primery
        transition: 0.2s
      &::before
        transform: translateY(-7px)
      &::after
        transform: translateY(7px)
      &--active
        height: 0
        z-index: 11
        &::before
          transform: rotate(45deg)
        &::after
          transform: rotate(-45deg)
  .hero
    &__wrapper
      width: 728px
      padding: 36px 0
      background: #E8EAE9 url("../img/header-bg_2.jpg") no-repeat 55px center

      background-size: cover
    &__container
      max-width: 674px
    &__title
      font-size: 48px
      line-height: 60px
    &__text
      font-size: 18px
      line-height: 32px
    &__button
      margin-bottom: 40px
  .title
    max-width: 407px
    min-height: 384px
    margin-bottom: 36px
  .advantages
    &__block
      margin-right: 21px
  .collection
    padding: 80px 0
    width: 100%
    &__container
      max-width: 672px
    &__wrapper
      flex-wrap: wrap
    &__gallery
      margin-right: 0
      margin-bottom: 34px
      width: 100%
    &__img
      width: 320px
      height: 230px
      &--heigh
        width: 322px
        height: 490px
    &__text
      margin-bottom: 22px

@media  ( max-width: 767px )
  .container
    max-width: 85%
  .header
    padding: 18px 0 43px 0
  .hero
    &__wrapper
      background: #E8EAE9 url("../img/header-bg_min.jpg") no-repeat center top
      width: 100%
      padding-top: 380px
      padding-bottom: 20px
    &__container
      align-items: center
      max-width: 85%
    &__title
      text-align: center
    &__text
      font-size: 16px
      line-height: 28px
      text-align: center
    &__button
      font-size: 16px
      line-height: 22px
      padding: 13px 49px
      width: 95%
      margin-bottom: 20px

  .title
    align-items: center
    max-width: 100%
    min-width: 280px
    min-height: 324px
    margin-bottom: 24px
  .advantages
    justify-content: center
    flex-wrap: wrap
    &__block
      margin-right: 15px
      margin-bottom: 18px
    &__icon
      align-items: start
      border-radius: 0.5px
      border-radius: 8px
      width: 24px
      height: 24px
    &__img
      width: 13px
      height: 13px
  .collection
    &__container
      max-width: 90%
    &__gallery
      min-width: 100%
      flex-wrap: wrap
      align-content: space-between
    &__img
      width: 48%
      border-radius: 3.36px
      &--heigh
        width: 100%
        height: 420px
    &__two-img
      flex-direction: row
      width: 100%
      min-height: 100%
      margin-top: 14px

@media ( max-width: 567px )
  .container
    max-width: 85%
  .hero
    &__subtitle
      max-width: 196px
      padding: 2px 26px
@media ( max-width: 480px )
  .container
    max-width: 85%
  .hero
    &__wrapper

      background-size: cover
    &__title
      font-size: 32px
      line-height: 40px
  .advantages
    &__block
      margin-right: 12px
      margin-bottom: 18px
      letter-spacing: 0.1px
      &:nth-child(2)
        margin-right: 0
        flex-basis: 40%
  .collection
    padding: 62px 0 100px 0
    &__gallery
      min-height: 100%

    &__img
      height: 97px
      &--heigh
        height: 300px
    &__two-img
      min-height: 97px
    &__text
      font-size: 16px
      line-height: 28px
      text-align: center
      margin-bottom: 0
    &__button
      display: none
  .section__title
    font-size: 28px
    line-height: 36px
    text-align: center
    margin-bottom: 20px
@media ( max-width: 380px )

  .collection
    &__text
      width: 280px
      margin: auto
