.collection
  padding: 120px 0 145px 0
  &__container
    max-width: 1140px
    margin: auto
  &__wrapper
    display: flex
  &__gallery
    display: flex
    justify-content: space-between
    align-items: flex-start
    min-width: 670px
    min-height: 490px
    margin-right: 57px
  &__img
    width: 320px
    height: 230px
    border-radius: 8px
    overflow: hidden
    &--heigh
      height: 490px
  &__two-img
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 490px
  &__info
    display: flex
    flex-direction: column
    flex-basis: 408px
  &__text
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 36px
    margin-bottom: 40px
  &__title
    margin-top: 4px
    margin-bottom: 30px
  &__link
    display: flex
    align-items: center
    justify-content: space-between
    width: 259px
    text-decoration: none
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
    color: #1565D8
    fill: #1565D8
  &__icon
    width: 13px
    height: 16px
.button__img
  width: 13px
  height: 16px
  fill: #1565D8
.section__title
  font-family: HK Grotesk
  font-style: normal
  font-weight: bold
  font-size: 48px
  line-height: 60px
  letter-spacing: 0.2px
