.footer
  padding: 128px 0 131px 0
  &_wrapper
    display: flex
  &__logo
    display: block
    width: 90px
    height: 28px
    margin-bottom: 28px
  &__text
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 28px
    width: 263px
    color: #5A7184
    margin-bottom: 32px
  &__icon
    width: 16px
    height: 18px    
  &__item
    margin-bottom: 24px
  &__block
    width: 165px
    margin-right: 30px
    margin-bottom: 48px
    &--first
      width: 263px
  &__lists
    display: flex
    width: 100%

.block
  &__title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
    margin-bottom: 31px
.social
  display: flex
  width: 185px
  justify-content: space-between
  &__link
    display: flex
    justify-content: center
    align-items: center
    width: 42px
    height: 40px
    margin-right: 2px
    border-radius: 2000px
    background-color: #f0f1f3
    fill: #5A7184
    &::hover
      fill: #36B37E
