.subscription
  padding: 100px 0
  background-color: #1565D8
  color: $light
  &__wrapper
    display: flex
    align-items: center
    &-title
      flex-basis: 55%
  &__title
    margin-bottom: 14px
  &__text
    width: 436px
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 32px
  &__button
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 5px
    padding: 11px
    background: #183B56
    border: none
    border-radius: 4px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
    color: $light
    text-align: center
    width: 177px
  &__input
    width: 447px
    height: 56px
    padding: 17px 187px 17px 44px
    border: 1px solid #C3CAD9
    border-radius: 8px
    outline: none
    
.form
  position: relative
  outline: none
  fill: #183B56
  &__icon
    position: absolute
    top: 50%
    left: 20px
    transform: translateY(-50%)
    width: 16px
    height: 28px
